# Python virtual environment
.venv/
venv/
__pycache__/
*.py[cod]

# local dababase files
*.db
*.sqlite3

# environment variables
.env

# IDE specific files
.vscode/
.idea/

# coverage reports
.coverage